{% extends "layout.html" %}

{% block title %}
    Query Response
{% endblock %}

{% block main %}
<main class="container p-5">

    <form action="/assign" method="post">
        <div class="form-group">
           <div id="meetingdate"> Meeting Date </div>
           <input autocomplete="off" class="form-control" name="meetingdate" placeholder="Meeting Date" type="date">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>


        {% for book in books %}
        <div class="form-check">

          <input class="form-check-input" type="radio" name="searchresult" id="exampleRadios1" value="{{ book['queryID'] }}">
          <label class="form-check-label" for="exampleRadios1">
            {{ book.title }} by  {{ book.authors }} ISBN: {{ book.ISBN }}
          </label>

        </div>
        <hr>
        {% endfor %}


    </form>
</main>

{% endblock %}
